* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    outline: none;
}

label {
    margin: 8px;
    padding: 5px 10px;
}

input {
    margin: 8px;
    border-radius: 4px;
    border: 1px solid lightslategrey;
    padding: 5px 10px;
}

input:focus {
    border: 1px solid #007FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #7FC7FF;
}

p {
    margin: 8px;
    font-size: 20px;
}

button {
    margin: 8px;
    border-radius: 4px;
    background-color: #007FFF;
    color: white;
    padding: 5px 10px;
    border: 2px solid #007FFF;
}

button:hover {
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    color: black;
    border: 2px solid #007FFF;
    background-color: white;
}

button:active {
    transition: background-color 0.5s, color 0.5s;
    background-color: #007FFF;
    color: white;
    padding: 5px 10px;
    border: 2px solid #007FFF;
}

textarea:focus {
    border: 1px solid #007FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #7FC7FF;
}

textarea {
    border-radius: 4px;
    border: 1px solid lightslategrey;
}



.formn {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.search {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.search__button {}

.search__elements {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.search__form {
    width: 100%;
    /* width: 20%; */
    /* margin: 8px; */
}